<div class="span12">
  <h2>Authorize <%= @client_id %> to use your account?</h2>
</div>

<div class="span12">
  <% if @scopes %>
  <p>
    This application will be able to:
  </p>
  <ul>
  </ul>
  <% end %>

  <div class="inline_block">
      <%= form_tag( @authorization_url, { :method => :post }) do%>
      <%= submit_tag( "Authorize", :class => "btn btn-success" ) %>	
      <input type="hidden" name="client_id" value="<%= @client_id %>" />
      <input type="hidden" name="client_secret" value="<%= @client_secret %>" />
      <input type="hidden" name="grant_type" value="<%= @grant_type %>" />
      <input type="hidden" name="username" value="<%= @username %>" />
      <input type="hidden" name="password" value="<%= @password %>" />
    <% end %>
  </div>
  <div class="inline_block">
    <%= form_for @authorization, :as => :authorization, :url => @redirect_uri, :method => :delete do |f| %>
      <%= f.hidden_field :client_id %>
      <%= f.hidden_field :redirect_uri %>
      <%= f.hidden_field :state %>
      <%= f.hidden_field :response_type %>
      <%= f.hidden_field :scope %>
      <%= f.submit "Deny", :class => "btn" %>
    <% end %>
  </div>
</div>
